#profile_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#profile_card_info {
  padding: 30px;
  max-width: 300px;
  height: auto;
  background: rgba(25, 200, 255, 0.2);
  border-radius: 5px;
}
#perosnal_photo {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
